
Resources/Datasets/Diana/.ipynb_checkpoints/DatasetsAnalysis-checkpoint.ipynb
Resources/Datasets/Diana/Caracteristicas_Datasets.ipynb
Resources/~$032019_Project1_Ecobicis.docx
Resources/Datasets/Diana/estaciones_de_ecobici_fr.csv
Resources/Datasets/.DS_Store
Resources/Datasets/Diana/.DS_Store
Notebooks/data_analysis.ipynb
Resources/.DS_Store
Notebooks/data_analysis.ipynb
Notebooks/data_analysis.ipynb
Resources/Datasets/Diana/recorridos_realizados_2018.csv
